<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Northwoods.Go" publicKeyToken="a4e3b7b70161cfe8" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.2" newVersion="4.1.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NHibernate" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.4000" newVersion="4.1.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Iesi.Collections" publicKeyToken="aa95f207798dfdb4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.4000" newVersion="4.0.0.4000" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Sparkline.v17.1.Core" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.5.0" newVersion="17.1.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DevExpress.Data.v17.1" publicKeyToken="b88d1754d700e49a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-17.1.5.0" newVersion="17.1.5.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>