<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.0" targetFramework="net48" />
  <package id="Castle.Windsor" version="5.0.0" targetFramework="net48" />
  <package id="Dapper" version="1.60.6" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.2.0" targetFramework="net48" />
  <package id="OSPSuite.DataBinding" version="2.3.0.3" targetFramework="net48" />
  <package id="OSPSuite.DataBinding.DevExpress" version="3.0.0.3" targetFramework="net48" />
  <package id="OSPSuite.DevExpress" version="18.2.7" targetFramework="net48" />
  <package id="OSPSuite.DevExpress.Presentation" version="18.2.7" targetFramework="net48" />
  <package id="OSPSuite.Serializer" version="3.0.0.1" targetFramework="net48" />
  <package id="OSPSuite.Utility" version="4.0.0.1" targetFramework="net48" />
  <package id="SharpZipLib" version="1.1.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="4.5.1" targetFramework="net48" />
</packages>