<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FakeItEasy" version="4.2.0" targetFramework="net452" />
  <package id="NUnit" version="3.8.1" targetFramework="net452" />
  <package id="OSPSuite.BDDHelper" version="2.0.0.1" targetFramework="net452" />
  <package id="OSPSuite.DevExpress" version="17.1.5" targetFramework="net452" />
  <package id="OSPSuite.DevExpress.Presentation" version="17.1.5" targetFramework="net452" />
  <package id="OSPSuite.Utility" version="2.0.1.4" targetFramework="net452" />
</packages>